<div class="vote">
  <%= form_with model: @winpoint,local: true do|form|%>
    <% @comics.each do |comic|%>
      <%=comic.title%>
    <%= form.check_box :winpoint_id, {checked:"#{@winpoint.id}"} , name:"winpoint[matches_attributes][id]" %>
    <%= form.radio_button :win, :"true" %>
    <%end%>
    <%= form.submit class:"send_btn",value:"投票する"%>
  <%end%>
</div>